{% extends 'base.html' %}


{% load static %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" type="text/css" href="{% static 'anuncio/homepage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'anuncio/automovel_categoria.css' %}">

{% block categorias %}
    <div id="categoria_container">
        {% if carroceria.carroceria == 'Hatch' %}
            <img class="categoria" src="{% static 'anuncio/hatches.jpg' %}" alt="">
        {% elif carroceria.carroceria == 'Picape' %}
            <img class="categoria" src="{% static 'anuncio/picapes.jpg' %}" alt="">
        {% elif carroceria.carroceria == 'Sedan' %}
            <img class="categoria" src="{% static 'anuncio/sedans.jpg' %}" alt="">
        {% elif carroceria.carroceria == 'SUV' %}
            <img class="categoria" src="{% static 'anuncio/suvs.jpg' %}" alt="">
        {% elif carroceria.carroceria == 'Elétrico' %}
            <img class="categoria" src="{% static 'anuncio/eletricos.jpg' %}" alt="">
        {% endif %}
    </div>
    {% block meus_automoveis %}
        <div id="automovel_container">
            {% for automovel in automoveis %}
            <div id="automovel_div">
                        <a href="{% url 'automovel_detalhe' automovel.id %}">
                            <img src="{{ automovel.foto1.url }}" alt="">
                        </a>
                        <p id="automovel_nome">{{ automovel.nome }}</p>
                        <p id="automovel_versao_carro">{{ automovel.versao_carro }}</p>
                        {% if request.user == automovel.login %}
                            <div class="buttons">
                                <a href="{% url 'update_automovel' automovel.id %}" class="btn">
                                    <p>Atualizar</p>
                                </a>
                                <a href="{% url 'delete_automovel' automovel.id %}" class="btn">
                                    <p>Deletar</p>
                                </a>
                            </div>
                        {% else %}
                            <div class="buttons">
                                <a href="{% url 'automovel_detalhe' automovel.id %}" class="btn">
                                    <p>Detalhe</p>
                                </a>
                            </div>
                        {% endif %}
                        <div id="automovel_desc">
                            <p id="automovel_valor">R$ {{ automovel.valor }}
                            </p>
                            <p class="btn_parcelas">Ver Parcelas</p>
                            <p id="automovel_ano">{{ automovel.ano }}</p>
                            <p id="automovel_km">{{ automovel.km }} Km</p>
                        </div>
                        <div id="local">
                            <span class="material-symbols-outlined">
                                location_on
                            </span>
                            <p id="automovel_cidade_estado">
                                {{ automovel.cidade }} - {{ automovel.estado }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
        </div>
    {% endblock meus_automoveis %}
{% endblock categorias %}

{% endblock content %}