{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'anuncio/homepage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'anuncio/chat.css' %}">
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

<h2>Conversa de {{ username }} com {{ room_details.receiver }} <a class="automovel_link" href="{% url 'automovel_detalhe' carro_id.id %}">{{ carro_id }}</h2>
<div id="display">

    <!-- <div class="container darker">
      <b>Tom</b><p>Hello Everyone, How Are You Guys Doing?</p>
      <span class="time-left">20th, April 2021</span>
    </div> -->
    
</div>
    
    <script>
    $(document).ready(function(){
    
    setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "/getMessages/{{room}}/",
            success: function(response){
                console.log(response);
                $("#display").empty();
                for (var key in response.messages)
                {
                    var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>";
                    $("#display").append(temp);
                }
            },
            error: function(response){
                alert('An error occured')
            }
        });
    },1000);
    })
    </script>
    
    
    <div class="container">
        <style>
        #post-form {
          position: fixed;
          width: 100vw;
          height: 100vh;
          top: 85vh;
          background-color: white;
          padding: 10px;
          margin: -10px;
        }

        input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        }
    
        input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }
    
        input[type=submit]:hover {
        background-color: #45a049;
        }
    
        div {
        /* background-color: #f2f2f2; */
        padding: 20px;
        padding-top: 70px;
        }
        </style>
    
        <form id="post-form">
            {% csrf_token %}
            <input type="hidden" name="username" id="username" value="{{username}}"/>
            <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
            <input type="text" name="message" id="message" width="100px" />
            <input type="submit" value="Enviar">
        </form>
    </div>
    
    
    </body>
    
    <script type="text/javascript">
      $(document).on('submit','#post-form',function(e){
        e.preventDefault();
    
        $.ajax({
          type:'POST',
          url:'/send',
          data:{
              username:$('#username').val(),
              room_id:$('#room_id').val(),
              message:$('#message').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(data){
             //alert(data)
          }
        });
        document.getElementById('message').value = ''
      });
    </script>

{% block footer %}
{% endblock footer %}
{% endblock content %}