{% extends 'base.html' %}


{% load static %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" type="text/css" href="{% static 'anuncio/homepage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'anuncio/conversas.css' %}">

{% block pesquisa %}
<div id="pesquisa_container">
    <div id="pesquisa">
        <a href="{% url 'automovel_listar' %}" id="pesquisa_carros">Comprar Carros</a>
        <a href="{% url 'automovel_listar' %}" id="pesquisa_motos">Comprar Motos</a>
        <a href="{% url 'cadastrar_automovel' %}" id="pesquisa_vender">Quero Vender</a>
        <div id="pesquisa_input_container">
            <div id="pesquisa_input">
                <span class="material-symbols-outlined">
                    search
                </span>
                <form method="GET" action="{% url 'homepage' %}">
                    <input type="text" name="search-area" value="" placeholder="Digite marca ou modelo">
                </form>
            </div>
            <a href="{% url 'automovel_listar' %}">
                <input type="submit" id="pesquisa_button" value="VER OFERTAS">
            </a>
        </div>
    </div>
</div>
{% endblock pesquisa %}

    {% if salas %}
        <h2>Conversas</h2>
        <div id="conversas">
            {% for sala in salas %}
                <form id="post-form" method="GET" action="{% url 'checkview' %}">
                    {% csrf_token %}
                    <input class="hidden" type="hidden" name="username" id="username" width="100px" value="{{request.user}}" />
                    <input class="hidden" type="hidden" name="receiver" id="receiver" width="100px" value="{{sala.receiver}}" />
                    <input class="hidden" type="hidden" name="created_by" id="created_by" value="{{sala.created_by}}">
                    <input class="hidden" type="hidden" name="carro" id="carro" width="100px" value="{{sala.carro}}" />
                    {% for carro in carros %}    
                        {% if carro.id|stringformat:"s" == sala.carro|stringformat:"s" %} 
                            {% if request.user|stringformat:"s" == sala.receiver|stringformat:"s" %}
                                <input type="submit" value="{{sala.created_by}} - {{carro.nome}}" class="receiver">
                            {% else %}
                                <input type="submit" value="{{sala.receiver}} - {{carro.nome}}" class="receiver">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </form>
            {% endfor %}
        </div>
    {% else %}
        <h2>Você não tem conversas!</h2>
    {% endif %}

{% block footer %}
{% endblock footer %}

{% endblock content %}