*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eee;
}

#deletar{
    margin-top: 250px;
    padding: 10%;
    background-color: white;
}

#deletar > form {
    margin: auto 2rem;
}

#deletar > form > p{
    padding: 2rem;
    padding-bottom: .5rem;
}

#deletar > form > input[type=submit]{
    margin: auto 2rem;
    background-color: white;
    font-size: larger;
    margin-bottom: 1rem;
}

input[type=submit]:hover{
    /* background-color: red; */
    cursor: pointer;
}

.btn{
    font-size: larger;
    margin: auto 1rem;
    padding: 0.5rem;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(255, 0, 0, 0.723);
    color: rgba(255, 0, 0, 0.723);
    border-radius: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
